.git
.github
.venv
venv
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
*.md
ansible
terraform
argocd
deploy
scripts
tests
kind-config.yaml
LICENSE
.gitignore
.dockerignore
*.tfstate*
.terraform
